
<form action="/" method="POST" enctype="multipart/form-data">
  <h3>Upload Profile Photo</h3>
  <input type="file" name="sampleFile" accept="image/*"/>
  <input type="submit" class="btn btn-primary">
</form>

<div class="card">

  <img class="card__image" src="/img/default.jpg" alt="User Profile">
  <h1 class="card__title">BL</h1>
  <div class="card__job">Web Developer</div>
  <p class="card__about">
    Hi! I'm BL. I am a web developer junior, i try to learn how to post image on database with express uploadFile and MySQL.
  </p>
  <button type="button" class="btn btn-primary">View Profile</button>

</div>